.l-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  gap: 25px;
}

#header a {
  font-family: $base-font-gilroy;
  font-style: normal;
  font-weight: $base-font-weight-500;
  font-size: $base-size-22;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.05em;
  color: #343434;
}

#main {
  margin-top: 75px;
}

#pagination {
  position: absolute;
  background: #f9f9f9;
  position: relative;
}

#promo {
  text-align: center;
}

#contacts {
 & h1{
  display: flex;
  justify-content: start;
 } 
}

// #shop h1 {
//   margin-top: 123px;
//   text-align: center;
// }
