#pagination-container {
  display: flex;
  align-items: center;
  color: #5f5f5f;
}

#pagination-container button {
  padding: 0;
  background: none;
  box-shadow: none;
  font-family: $base-font-gilroy;
  font-style: normal;
  font-weight: $base-font-weight-500 + 200;
  font-size: $base-size-22;
  line-height: 27px;
}

#pagination-container .pagination-button {
  display: flex;
  align-items: center;
  width: 20px;
  color: #5f5f5f;
}

#pagination-numbers {
  margin: 0 17px;
  display: flex;
  align-items: center;
}

.pagination-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-item-text {
  max-width: 30%;

  & h1 {
    text-align: left;
  }

  & p {
    margin-top: 41px;
    margin-bottom: 76px;
  }
}

.row-img {
  max-width: 60%;
  max-height: 525px;

  & img{
    object-fit: cover;
  }
}

.pagination-number {
  color: #b0b0b0;
  margin-right: 15px;
}

.pagination-number:last-child {
  margin-right: 0;
}

.pagination-btn {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  position: relative;

  & button {
    width: 100%;
  }
}

.pagination-book {
  max-width: 60px;
  position: absolute;
  right: -5%;
  top: 50%;
}
