#pagination-container {
  display: flex;
  align-items: center;
  color: #5f5f5f;
}

#pagination-container button {
  padding: 0;
  background: none;
  box-shadow: none;
  font-family: $base-font-gilroy;
  font-style: normal;
  font-weight: $base-font-weight-500 + 200;
  font-size: $base-size-22;
  line-height: 27px;
}

#pagination-container .pagination-button {
  display: flex;
  align-items: center;
  width: 20px;
  color: #5f5f5f;
}

#pagination-numbers {
  margin: 0 17px;
  display: flex;
  align-items: center;
}

.pagination-item {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-text {
  max-width: 453px;
  margin-top: 41px;
  margin-bottom: 76px;
}

.pagination-number {
  color: #b0b0b0;
  margin-right: 15px;
}

.pagination-number:last-child {
  margin-right: 0;
}

.pagination-btn {
    margin-bottom: 80px;
    max-width: 350px;
    position: relative;
}

.pagination-book {
    max-width:60px ;
    position: absolute;
    right: -5%;
    top: 50%;
}
