.partner-container {
  margin-top: 60px;
  width: 100%;
}

.partner-slider-group {
  display: none;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  gap: 150px;

  & img {
    width: 33%;
    max-height: 120px;
    object-fit: contain;
  }

  &:first-child {
    display: flex;
  }
}

.partner-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 95px;

  & img {
    width: 40px;
  }
}

.partner-pagination button {
  padding: 0;
  background: none;
  box-shadow: none;
  font-family: $base-font-gilroy;
  font-style: normal;
  font-weight: $base-font-weight-500 + 200;
  font-size: $base-size-22;
  line-height: 27px;
}

#partner-pagination-numbers {
  display: flex;
  gap: 15px;
}
