.promo-item {
  margin-top: 106px;
}

.promo-item img {
  width: 85px;
}

.promo-item p {
  margin-top: 34px;
  font-weight: $base-font-weight-500;
  font-size: $base-size-22;
  line-height: 26px;

  color: #222222;
}
