.shop-item {
  margin-top: 60px;
  gap: 100px;
}

.shop-text {
  width: 55%;
  & a {
    margin-top: 20px;
    font-size: 20px;
    color: #26497e;
  }

  & p {
    color: #515151;
  }
}

.shop-img {
  width: 40%;
}
