.shop-item {
  margin-top: 60px;
//   align-items: flex-end;
}

.shop-item p {
  width: 776px;
  font-family: $base-font-gilroy;
  font-style: normal;
  font-weight: $base-font-weight-500;
  font-size: 20px;
  line-height: 24px;

  color: #515151;
}

.shop-img {
  width: 626px;
  height: 552px;
}


