.shop-item {
  margin-top: 60px;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-text {
  text-align: left;
  width: 60%;
  & a {
    margin-top: 20px;
    font-size: 20px;
    color: #26497e;
    
  }

  & p {
    
    color: #515151;
  }
}

.shop-img {
  width: 40%;
}
